extends base
include mixins/video

    nav 
        ul 
          li 
            a(href="/videos/upload") Upload Video

block content 

  each video in videos
      +video(video)
  else 
      li sorry nothing found
